

.nopadding {
	padding: 0;
}

.project-image {
	width: 100%;
	height: 100%;

}

.project-image-coming {
	width: 100%;
	height: 100%;

}


.project-image:hover {
	opacity: 0.3;
}

.project-hover {
	width: 100%;
	height: 100%;
	opacity: 0;
	padding-left: 10px;
	padding-right: 10px;
	position: absolute;
	transition:opacity 1s ease 0s;
}

.project-hover h3 {
	padding-left: 8%;
	padding-right: 8%;
	margin-top: 15%;
	font-size: 150%;
	font-weight: 400;
}

.project-hover p {
	padding-right: 8%;
	padding-left: 8%;
	margin-top: 10px;
	color: rgba(44, 164, 209, 1);
}
.project-hover:hover {
	opacity: 1;
	background-color: rgba(255, 255, 255, .86);
}
.name {
	font-family: 'Shadows Into Light', cursive;
	font-size: 50px;
	font-weight: 400;
	width: 100%;
	color:rgb(0, 158, 255);
	text-align: center;
}

.header {
	font-size: 20px;
	width: 100%;
	text-align: center;
}


.logo {
	background-color: rgb(255,255,255);
	width: 145px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 100%;
}

ul#nav li a.highlight {
	color: orange;
}
#nav-wrap {
	font: 22px 'opensans-bold', sans-serif;
	width: 100%;
	margin: 0 auto;
	left: 0;
	top: 0;
	position: fixed;
	z-index: 2;
	
}

ul#nav {
	text-align: center;
	padding: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.3);
	z-index: 2;
}

ul#nav li {
	height: 48px;
	display: inline-block;
}

ul#nav li a {
	color:white;
	padding: 8px 13px;
	display: inline-block;
	text-align: center;
}


#skills h1 {
	font: 18px/24px 'opensans-bold', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#skills h1 span {
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color:rgb(17, 171, 176);
	padding-bottom: 6px;
}


#education h1 {
	font: 18px/24px 'opensans-bold', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
}


#education h1 span {
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color:rgb(17, 171, 176);
	padding-bottom: 6px;

}

.charts {
	width: 100%;
	height: 100%;
}
.chart {
	position: relative;
	width: 100px;
	height: 100px;
	margin: 20px 30px;
	text-align: center;
	display: inline-block;
}

.chart canvas {
	position: absolute;
	top: 0;
	left: 0;
}

.percentage {
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	font-size: 150%;
}
.label {
	font: 15px 'opensans-bold', sans-serif;
	color: #313131;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: normal;
	position: relative;
	width: 100px;
	margin-top: 0.2em;
	margin-bottom: 0.3em;
}